tornado
httpx
httpx[http2]
httpx-sse
pystray
pandas
numpy
matplotlib
lxml
PyYAML
pydantic
aiofiles
psutil
watchdog
pillow
loguru
APScheduler
pyinstaller
SQLAlchemy
alembic
neo4j
redis
psycopg[binary]
confluent-kafka